body {
  background: pink;
}

.imageRadis {
  border-radius: 50%;
}
.image {
  width: 100px;
  height: 100px;
  background-size: cover;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid lightgray;
}
.imageUser {
  content: url('../images/lux.jpg');
}
